---
interface Props {
  name: string,
  url: string,
}

const {name, url} = Astro.props
---

<a href={url}>
  <div class="capt">
    <h1>{name}</h1>
  </div>
</a>
<style>
  .capt {
    display: flex;
    flex-direction: column;
    margin: 2rem;
  }
  .teammates {
    display: flex;
    flex-wrap: wrap;
  }
  a {
    background-color: black;
    border: solid;
    border-color: brown;
  }
</style>