---
import Layout from '../layouts/Layout.astro';
import RBHLogo from '../assets/RBH-Logo-Transparent.png';
---

<Layout title="Welcome to RBH">
	<main>
		<header>
			<a href="/"><img id="logo" src={RBHLogo.src} /></a>
		  <h1><span class="text-gradient">RBH Inhouses</span></h1>
      <div id="spacer"></div>
		</header>
		<section id="pages">
			<div class="page-box">
				<p>made it</p>
			</div>
		</section>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.text-gradient {
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
		text-shadow: 0 0 0px red, 0 0 3px white;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	#RBHlogo {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		margin: auto;
		height: 6rem;
	}
	#disc-invite {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(var(--accent-dark), 0.763);
		max-width: 500px;
		height: 100px;
		margin: auto;
		box-shadow: inset 12px;
	}
	#captain-sect {
		display: flex;
	}
	#player-sect {
		display: flex;
		flex-wrap: wrap;
	}
	#logo {
		width: 9rem;
		position: relative;
		filter: brightness(4);
		cursor: pointer;
	}
	header {
		display: flex;
		width: 100vw;
		justify-content: space-between;
  }
	header > h1 {
		position: relative;
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
	}
	#pages {
		margin-top: 6rem;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.page-box {
		border: solid;
		text-align: center;
		font-size: 3rem;
		padding: 1rem;
	}
	#spacer {
		width: 144px;
	}
</style>
